# Please keep in mind:
# - If you need to ignore files on your local machine only, please use .git/info/exclude instead .gitignore
# - Project specified ignore rules must be located in project directory only

# Eclipse project files
.settings
.classpath
.project
.metadata
.mymetadata
.springBeans
.gradle

# IntelliJ Idea project files
.idea
.idea/misc.xml
*.iml
*.ipr
*.iws
local.properties

# Always ignore these directories/files
target
logs
bin
compilation.log
build

# GWT and Errai specific folders
.errai
gwt-unitCache
src/main/webapp/.errai
src/main/webapp/app
src/main/webapp/WEB-INF/classes
src/main/webapp/WEB-INF/deploy
src/main/webapp/WEB-INF/lib
src/main/webapp/WEB-INF/web.xml
app.launch
